@import "tailwindcss";

@theme {
  --font-primary: "Outfit", "sans-serif";
  --color-primary: #c93636;
  --color-black: #131313;
  --color-muted: #d9d9d9;
}

@layer base {
  body {
    @apply bg-black text-white font-primary selection:text-white selection:bg-primary;
  }

  .color-muted {
    @apply text-white/70;
  }
}
